// Main vendor Scripts
script(src='components/jquery/dist/jquery.min.js')
script(src='components/bootstrap/dist/js/bootstrap.min.js')
script(src='components/form.validation/dist/js/bootstrapValidator.min.js')
script(src='components/jquery-serialize-object/dist/jquery.serialize-object.min.js')
script(src='components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js')
script(src='components/devbridge-autocomplete/dist/jquery.autocomplete.min.js')
script(src='components/moment/min/moment-with-locales.js')
script(src='components/bs-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
// Data Table Scripts
script(src='//cdn.datatables.net/1.10.0/js/jquery.dataTables.js')
script(src='//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js')
script(src='//cdn.datatables.net/colvis/1.1.0/js/dataTables.colVis.js')
// App Main
script(src='js/app.js')