- function addZ(n){return n<10? '0'+n:''+n;}
- function showDate(date){if (date) return date.getFullYear()+'/'+addZ(date.getMonth()+1)+'/'+addZ(date.getDate()); else return '';}

.modal-header
  button.close(type='button', data-dismiss='modal', aria-label='Close'): i.fa.fa-times
  h4.modal-title Place Bid
.modal-body
  .bid
    form#bidForm.form-horizontal(role='form', name='bid-form')
      .form-group
        label.col-lg-3.control-label(for='freight') Freight(Rs)
        .col-lg-2
          input.form-control#freight(type='text', name='freight')
        label.col-lg-4.control-label(for='time') Transit Time(days)
        .col-lg-2
          input.form-control#time(type='text', name='transit_time')
      .form-group
        .col-lg-4.col-lg-offset-1
          .checkbox.c-checkbox
            label
              input(type='checkbox', name='insurance')
              span.fa.fa-check
              | Insurance Offered
        label.col-lg-4.control-label(for='hours') Bid Validity Hours
        .col-lg-2
          input.form-control#hours(type='text', name='validity_hours')
      .form-group
        .col-lg-offset-3.col-lg-6
          input(type='hidden', name='request', value='#{request._id}')
          button.btn.btn-danger(type='submit') Place Bid
          | &nbsp;
          a.btn.btn-default(href='#') Terms and Conditions
  script.
    $(function () {
      $('#bidForm button').on('click', function (e) {
        e.preventDefault();
        $.ajax({
          type: 'post',
          data: $('#bidForm').serializeJSON(),
          contentType: 'application/json',
          url: '/bid/update',
          success: function (result) {
            console.log(result);
            if (result.valid == true) {
              $('.bid').html('<p>Your Bid has been posted!</p>');
              $('#bidModal').modal('hide');
              $('.num_bids_' + result.id).getNumBids();
              $('.lowest_bid_' + result.id).getLowestBid();
            }
          }
        })
      });
    });