extends ../layouts/main
block meta
  title Last Searches
block content
  div(style='margin-top: 40px')
    .pull-right
      a.btn.btn-success(href='#')
        | Post Capacity
    .content
      .page-header
        p Congratulations on successfully registering on ShipMyCargo Post Capacity! You can successfully upload your capacities and place bids on matching requests! Please find below list of open requirements currently open for Bids

      .row
        .col-lg-3
          .panel.panel-default
            .panel-heading Your Dashboard
            ul.list-group
              li.list-group-item.active Current Open Requests
            .panel-body
              form#formFilter
                .form-group
                  label Pickup Location
                  input.form-control#bookingPoints(type='text', placeholder='Booking Location')
                #bookingResults(style='font-size:18px')
                .form-group
                  label Delivery Location
                  input.form-control#deliveryPoints(type='text', placeholder='Booking points')
                #deliveryResults(style='font-size:18px')
                .form-group
                  label Actual Weight (kg)
                  select.form-control(name='weight')
                    option(value='') Any
                    each weight, index in ['0-500', '500-3000', '3000-5000', '>5000']
                      option #{weight}
                .form-group
                  button.btn.btn-default(type='submit') Find
            ul.list-group
              li.list-group-item: a(href='#') My Bids
              li.list-group-item: a(href='#') Closed Bids
              li.list-group-item: a(href='#') Capacities Posted
              li.list-group-item: a(href='#') Settings
        .col-lg-9
          #requests

block page_scripts
  script(src='js/ajax/form_filter.js')
  script.
    $(document).on('click', '#bookingResults span, #deliveryResults span', function () {
      $(this).remove();
    });
    $('#bookingPoints').autocomplete({
      serviceUrl: '/api/cities',
      onSelect: function (suggestion) {
        $('#bookingResults').append('<span class="label label-primary" style="margin-left: 6px">' + suggestion.value + '<input type="hidden" name="booking_points[]" value="' + suggestion.value + '"> [x]</span>');
        $('#bookingPoints').val('');
        $('#formFilter').submit();
      }
    });
    $('#deliveryPoints').autocomplete({
      serviceUrl: '/api/cities',
      onSelect: function (suggestion) {
        $('#deliveryResults').append('<span class="label label-primary" style="margin-left: 6px">' + suggestion.value + '<input type="hidden" name="delivery_points[]" value="' + suggestion.value + '"> [x]</span>');
        $('#deliveryPoints').val('');
        $('#formFilter').submit();
      }
    });

block body_child
  #bidModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content

  #detailModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
