extends ../layouts/main
block meta
  title Last Searches
block content
  div(style='margin-top: 40px')
    .pull-right
      a.btn.btn-success(href='#')
        | Post Capacity
    .content
      .page-header
        p Congratulations on successfully registering on ShipMyCargo Post Capacity! You can successfully upload your capacities and place bids on matching requests! Please find below list of open requirements currently open for Bids

      .row
        .col-lg-3
          .panel.panel-default
            .panel-heading Your Dashboard
            ul.list-group
              li.list-group-item.active Current Open Requests
            .panel-body
              form#formFilter
                .form-group
                  label Pickup Location
                  input.form-control#bookingPoints(type='text', placeholder='Booking Location')
                #bookingLocations(style='font-size:18px')
                .form-group
                  label Delivery Location
                  input.form-control#deliveryPoints(type='text', placeholder='Booking points')
                #deliveryResults(style='font-size:18px')
                .form-group
                  label Actual Weight (kg)
                  select.form-control(name='weight')
                    option(value='') Any
                    each weight, index in ['0-500', '500-3000', '3000-5000', '>5000']
                      option #{weight}
            ul.list-group
              li.list-group-item: a(href='#') My Bids
              li.list-group-item: a(href='#') Closed Bids
              li.list-group-item: a(href='#') Capacities Posted
              li.list-group-item: a(href='#') Settings
        .col-lg-9
          #requests

    //table#example.table.table-striped
      thead
        tr
          th Pickup
          th Dispatch
          th Movement
          th From
          th To
          th Items
          th Weight
          th Value
          th

      tfoot
        tr
          th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Pickup')
          th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Dispatch')
          th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Movement')
          th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='From')
          th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='To')
          th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Items')
          th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Weight')
          th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Value')
          th


block page_scripts
  script(src='js/ajax/form_filter.js')


//block page_scripts
  script.
    var dataTable = $('#datatable-requests').DataTable({
      paging: true,
      ordering: true,
      info: true,
      order: [
        [2, 'desc']
      ],
      processing: true,
      serverSide: true,
      ajax: {
        url: '/request/json',
        type: 'POST'
      },
      columns: [
        {data: "pickup_date"},
        {data: "mode_of_dispatch"},
        {data: "nature_of_movement"},
        {data: "booking_point"},
        {data: "delivery_point"},
        {data: "items"},
        {data: "total_weight"},
        {data: "total_value"},
        {data: "btn"}
      ]
    });



    dataTable.on('xhr', function () {
      var inputSearchClass = 'datatable-requests-search';
      var columnInputs = $('tfoot .' + inputSearchClass);
      columnInputs.keyup(function () {
        dataTable.fnFilter(this.value, columnInputs.index(this) + 1);
      });
      var json = dataTable.ajax.json();
      //alert(json.data.length + ' row(s) were loaded');
    });