extends layouts/main
block meta
  title ShipMyCargo
block content
  .jumbotron(style='margin-top: 40px')
    #welcome
      h1.text-center Welcome to ShipMyCargo
      .row
        .col-sm-6
          h2 Carrier
          ul
            li Find optimum load to utilize your capacity
            li Post your capacity
            li Bid for loads
        .col-sm-6
          h2 Shipper
          ul.fa-ul
            li
              i.fa-li.fa.fa-check
              | Find the cheapest and most efficient way of moving your consignment
            li
              i.fa-li.fa.fa-check
              | Post your load
            li
              i.fa-li.fa.fa-check
              | Find current capacities
          p: a.btn.btn-info(href='/shipping')
            i.fa.fa-check-square-o
            | &nbsp;Post Your Load


  #formbox
