#content {
  margin-top: 50px;
}

.jumbotron {
  h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  p { margin-bottom: 5px; }
  .btn-lg {
    padding: 14px 24px;
    font-size: 21px;
  }
}

#footer {
  margin-top: 40px;
  padding: 30px 0;
  border-top: 1px solid #eee;
  .copyright {
    text-align: center;
  }
}

#welcome {
  padding-bottom: 48px;
  & + #shipping {

  }
}

#shipping {
  padding-top: 48px;
  select {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

#items {
  .radio {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


//#datatable-requests {
//  table-layout:fixed;
//  thead > tr > th,
//  tbody > tr > td {
//    overflow:hidden;
//    text-overflow: ellipsis;
//  }
//}

.table .form-control {
  width: 100%;
}

.table-responsive {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: none;
  -webkit-overflow-scrolling: touch;

  // Tighten up spacing
  > .table {
    margin-bottom: 0;

    // Ensure the content doesn't wrap
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          white-space: nowrap;
        }
      }
    }
  }

  // Special overrides for the bordered tables
  > .table-bordered {
    border: 0;

    // Nuke the appropriate borders so that the parent can handle them
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th:first-child,
        > td:first-child {
          border-left: 0;
        }
        > th:last-child,
        > td:last-child {
          border-right: 0;
        }
      }
    }

    // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
    // chances are there will be only one `tr` in a `thead` and that would
    // remove the border altogether.
    > tbody,
    > tfoot {
      > tr:last-child {
        > th,
        > td {
          border-bottom: 0;
        }
      }
    }

  }
}
