extends ../layouts/main
block meta
  title ShipMyCargo
block content

  div(style='margin-top: 40px')
    .pull-right
      a.btn.btn-success(href='#')
        | Post Capacity
    h1.text-center Welcome to ShipMyCargo
    h3 As a Carrier you can:
    p 1. Get connected to millions of customers and their requests for movement of goods
    ul
      li No Subscription fees
      li Build your reputation with verified customer feedback
      li Get notified when repeat customers post request
    p 2. Upload your capacity/truck so that users can get in touch with you for their movements
    p 3. Meet a whole range of brokers who could help you utilize your capacity Come, Join ShipMyCargo for fulfilling your dream of increasing your footprint in India
    hr
    p.text-center: a.btn.btn-primary.btn-lg(href='/auth/register')
      | Join Now&nbsp;
      i.fa.fa-long-arrow-right

