extends ../layouts/main
block meta
  title ShipMyCargo
block content

  div(style='margin-top: 40px')
    h3 Thank You for entering the details regarding your organization.
    p A verification link has been sent on your email id. Please follow the link to conclude the sign up process

