extends ../layouts/main
block meta
  title ShipMyCargo
block content
  div(style='margin-top: 40px')
    .pull-right
      a.btn.btn-success(href='#')
        | Post Capacity
    .content
      .page-header
        h2 My Bids

      .row
        .col-lg-3
          .panel.panel-default
            .panel-heading Your Dashboard
            ul.list-group
              li.list-group-item: a(href='#') Current Open Requests
            .panel-body
              form#formFilter
                .form-group
                  label Pickup Location
                  input.form-control#bookingPoints(type='text', placeholder='Booking Location')
                #bookingLocations(style='font-size:18px')
                .form-group
                  label Delivery Location
                  input.form-control#deliveryPoints(type='text', placeholder='Booking points')
                #deliveryResults(style='font-size:18px')
                .form-group
                  label Actual Weight (kg)
                  select.form-control(name='weight')
                    option(value='') Any
                    each weight, index in ['0-500', '500-3000', '3000-5000', '>5000']
                      option #{weight}
            ul.list-group
              li.list-group-item.active My Bids
              li.list-group-item: a(href='#') Closed Bids
              li.list-group-item: a(href='#') Capacities Posted
              li.list-group-item: a(href='#') Settings

        .col-lg-9
          #requests
            table#example.table.table-striped
                thead
                  tr
                    th Shipment Id
                    th No. of Bids
                    th Lowest Bid
                    th Your Bid
                    th Bid Details
                    th Bid Status
                    th Bid Expires
                    th
                tbody
                  tr
                    td: a(href='#', data-toggle='modal', data-target='#detailModal') 286383390
                    td 21
                    td Freight – 21777<br>TT – 8 Days
                    td Freight – 24569<br>TT – 6 Days
                    td Date – 22 Nov 2014 21:20
                    td Open
                    td 23rd Nov 2014 09:20
                    td: a.btn.btn-danger.btn-sm(href='#', data-toggle='modal', data-target='#bidModal') Edit Bid
                tfoot
                  tr
                    th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Shipment Id')
                    th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='No. of Bids')
                    th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Lowest Bid')
                    th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Your Bid')
                    th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Bid Details')
                    th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Bid Status')
                    th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Bid Expires')
                    th

block page_scripts
  script.
    $(document).on('click', '#bookingResults span, #deliveryResults span', function () {
      $(this).remove();
    });
    $('#bookingPoints').autocomplete({
      serviceUrl: '/api/cities',
      onSelect: function (suggestion) {
        $('#bookingResults').append('<span class="label label-primary" style="margin-left: 6px">' + suggestion.value + '<input type="hidden" name="booking_points[]" value="' + suggestion.value + '"> [x]</span>');
        $('#bookingPoints').val('');
      }
    });
    $('#deliveryPoints').autocomplete({
      serviceUrl: '/api/cities',
      onSelect: function (suggestion) {
        $('#deliveryResults').append('<span class="label label-primary" style="margin-left: 6px">' + suggestion.value + '<input type="hidden" name="delivery_points[]" value="' + suggestion.value + '"> [x]</span>');
        $('#deliveryPoints').val('');
      }
    });


block body_child
  #bidModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close'): i.fa.fa-times
          h4.modal-title Place Bid
        .modal-body
          form#bidForm.form-horizontal(role='form', name='bid-form')
            .form-group
              label.col-lg-3.control-label(for='freight') Freight(Rs)
              .col-lg-2
                input.form-control#freight(type='text', name='freight')
              label.col-lg-4.control-label(for='time') Transit Time(days)
              .col-lg-2
                input.form-control#time(type='text', name='time')
            .form-group
              .col-lg-4.col-lg-offset-1
                .checkbox.c-checkbox
                  label
                    input(type='checkbox', name='insurance')
                    span.fa.fa-check
                    | Insurance Offered
              label.col-lg-4.control-label(for='hours') Bid Validity Hours
              .col-lg-2
                input.form-control#hours(type='text', name='hours')
            .form-group
              .col-lg-offset-3.col-lg-6
                button.btn.btn-danger(type='submit') Edit Bid
                | &nbsp;
                button.btn.btn-default(type='button') Terms and Conditions

  #detailModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close'): i.fa.fa-times
          h4.modal-title Details
        .modal-body
          .well
            form#bidForm.form-horizontal(role='form', name='bid-form')
              .form-group
                label.col-lg-2.control-label(for='freight') Freight(Rs)
                .col-lg-2
                  input.form-control#freight(type='text', name='freight')
                label.col-lg-3.control-label(for='time') Transit Time(days)
                .col-lg-2
                  input.form-control#time(type='text', name='time')
                .col-lg-3
                  button.btn.btn-danger(type='submit') Edit Bid
          .row
            .col-lg-8
              .row
                .col-lg-5
                  .row
                    .col-lg-8
                      .form-group.form-group-lg
                        label From
                        p A 906, Wembley Estate Gurgaon
                    .col-lg-4
                      .form-group.form-group-lg
                        label Pincode
                        p 122018
                .col-lg-2.text-center
                  i.fa.fa-2x.fa-long-arrow-right(style='margin-top: 20px;')
                .col-lg-5
                  .row
                    .col-lg-8
                      .form-group.form-group-lg
                        label To
                        p 89D, Sunder Apartments. New Delhi
                    .col-lg-4
                      .form-group.form-group-lg
                        label Pincode
                        p 110087
              hr
              .panel.panel-default
                .panel-heading: h3.panel-title Items
                table#items.table.table-striped
                  thead
                    tr
                      th Length
                      th Breadth
                      th Height
                      th No. of Boxes
                      th Weight
                  tbody
                    tr
                      td 40
                      td 24
                      td 14
                      td 4
                      td 40
                    tr
                      td 24
                      td 35
                      td 54
                      td 3
                      td 80

              .row
                .col-lg-4
                  label Total Value of Goods
                  p 3400000Rs
                .col-lg-4
                  label Total Weight
                  p 120 kg
              hr
              .row
                .col-lg-4
                  label Pickup Requirements:
                  ul.list-unstyled
                    li Permit Available
                    li Closed Body Vehicle
                    li Door Pickup
                    li Packaging Services Required
                    li Transit Insurance Required
                .col-lg-4
                  label Delivery Requirements:
                  ul.list-unstyled
                    li Door Delivery Required

            .col-md-4
              .panel.panel-success
                .panel-heading Shipment Details
                table.table
                  tr
                    td Shipper Name
                    td ABC Pvt Ltd
                  tr
                    td Shipment Id
                    td xxxxxx
                  tr
                    td Listing Date
                    td 22 Mar 2015
                  tr
                    td End Date
                    td 29 Mar 2015
                .panel-footer
                  a.btn.btn-warning(href='#') Modify