extends ../layouts/main
block meta
  title Shipment Create
block content
  #block-page.content-block
    .container
      .row
        .col-md-8.col-md-offset-2
          .page-content
            .page-header
              h1 Enter the following consignment details
            form#shipmentForm.form-horizontal(role='form', name='shipment-form')
              .form-group
                label.col-lg-3.control-label(for='dispatch') Mode of Dispatch
                .col-lg-6
                  select.form-control#dispatch(name='dispatch')
                    option
                    option(value='air') Air
                    option(value='surface') Surface
              .form-group
                label.col-lg-3.control-label(for='bookingPoint') From
                .col-lg-6
                  input.form-control#bookingPoint(type='text', name='booking_point', placeholder='Type Booking City')
              .form-group
                label.col-lg-3.control-label(for='deliveryPoint') To
                .col-lg-6
                  input.form-control#deliveryPoint(type='text', name='delivery_point', placeholder='Type Delivery City')
              .form-group
                label.col-lg-3.control-label(for='weight') Weight
                .col-lg-6
                  input.form-control#weight(type='text', name='weight', placeholder='Type Weight of your Consignment')
              .form-group
                label.col-lg-3.control-label(for='payment') Payment Terms
                .col-lg-6
                  input.form-control#payment(type='text', name='payment', placeholder='Type Booking or Delivery or Credit')
              hr
              .form-group
                .col-lg-offset-3.col-lg-9
                  .checkbox.c-checkbox
                    label
                      input#vehicle(type="checkbox", name="vehicle")
                      span.fa.fa-check
                      | Closed Body Vehicle
              .form-group
                .col-lg-offset-3.col-lg-9
                  .checkbox.c-checkbox
                    label
                      input#doorPickup(type="checkbox", name="door_pickup")
                      span.fa.fa-check
                      | Door Pickup
              .form-group
                .col-lg-offset-3.col-lg-9
                  .checkbox.c-checkbox
                    label
                      input#doorDelivery(type="checkbox", name="door_delivery")
                      span.fa.fa-check
                      | Door Delivery
              .form-group
                .col-lg-offset-3.col-lg-9
                  .checkbox.c-checkbox
                    label
                      input#packagingService(type="checkbox", name="packaging_service")
                      span.fa.fa-check
                      | Packaging Services Required
              .form-group
                .col-lg-offset-3.col-lg-9
                  .checkbox.c-checkbox
                    label
                      input#transitInsurance(type="checkbox", name="transit_insurance")
                      span.fa.fa-check
                      | Transit Insurance Required
              .form-group
                .col-lg-offset-3.col-lg-9
                  .checkbox.c-checkbox
                    label
                      input#warehousing(type="checkbox", name="warehousing")
                      span.fa.fa-check
                      | Warehousing Required
              .form-group
                label.col-lg-3.control-label(for='size') Godown/Warehouse
                .col-lg-6
                  input.form-control#size(type='text', name='size', placeholder='Godown/Warehouse')
              .form-group
                .col-lg-offset-3.col-lg-6
                  #errors.hidden.text-danger.alert.alert-danger
                  button.btn.btn-primary(type='submit') Continue
            span.help-block.error