extends ../layouts/main
block meta
  title About Us
block content
  .page-header
    h1 About Us

  .h3 Concept
  p A product is made to be sold profitably.
  .h3 What are the reasons which prevent this eventuality?
  ul
    li The product never arrived at the point of sale
    li The product arrived at the point of Sale after the buyer had made an alternate purchase from a different point of sale
    li The cost of producing the product and distributing it together made the sale unprofitable.
  .h3 Can we prevent this and many such eventualities?
  p The answer is “YES”
  p We at ShipmyCargo believe that such challenges can be overcome by bringing the Shipper and Carrier together on a common platform, making them aware of the various possibilities that they can explore and then implement that one solution which would help them move the goods in the most efficient manner which is a WIN-WIN for both entities.

  .h3 So how do we do it?
  p We have developed a platform where individuals or organizations having a very specific requirement of moving material from one location to another can go through a list of service providers who have the capability of transporting the consignment safely, on-time and in the most cost effective manner.
